/* General styling */
body {
  margin: 0;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Centering and styling the container */
.container {
  text-align: center;
  position: relative;
  z-index: 10;
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
}

/* Common button styling for both controls */
.control-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #000;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
}

.control-button:hover {
  background: #ff4b2b;
  color: #fff;
}

/* Audio player styling */
audio {
  margin-top: 15px;
  width: 100%;
  max-width: 400px;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.3));
}

/* Three.js canvas adjustments */
canvas {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1;
}

/* Controls styling */
.controls {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

#micButton.active {
  background: #ff4b2b !important;
  color: #fff !important;
}

/* Footer styling */
footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 10;
  font-size: 0.9rem;
  color: #fff;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff4b2b;
}
